[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stavrakakis
[access "refs/for/refs/*"]
	read = group user/Stavrakakis
	push = group user/Stavrakakis
	label-Code-Review = -2..+2 group user/Stavrakakis
	label-Verified = -1..+1 group user/Stavrakakis
	rebase = group user/Stavrakakis
	removeReviewer = group user/Stavrakakis
	submit = group user/Stavrakakis
[access "refs/heads/*"]
	read = group user/Stavrakakis
	create = group user/Stavrakakis
	push = +force group user/Stavrakakis
	pushMerge = group user/Stavrakakis
[access "refs/tags/*"]
	push = +force group user/Stavrakakis
	pushTag = group user/Stavrakakis
	pushSignedTag = group user/Stavrakakis
